<div class="footer">
        <div class="grid wide">
            <div class="row">
                <div class="l-3 m-6 c-12">
                    <h3>Get in touch with us for the best quality plants and succulents</h3>
                    <p>Qui dolore ipsum quia dolor sit amet, consec tetur adipisci velit, sed quia non numquam eius modi
                        tempora incidunt lores ta porro ame.</p>
                </div>
                <div class="l-3 m-6 c-12">
                    <div class="footer-logo">
                        <img src="/img/logo-footer.png" alt="">
                        <span>Natural</span>
                        <div class="footer-contact">
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="l-3 m-6 c-12">
                    <h3>Quick links</h3>
                    <div class="footer-nav">
                        <a href="">Introduction</a>
                        <a href="">Know more About Us</a>
                        <a href="">Visit store</a>
                        <a href="">Let's connect</a>
                    </div>
                </div>
                <div class="l-3 m-6 c-12">
                    <h3>Important links</h3>
                    <div class="footer-nav">
                        <a href="">Pricavy policy</a>
                        <a href="">Shipping Details</a>
                        <a href="">Teems and Conditions</a>
                        <a href="">Media Kit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>