<div class="grid wide">
    <div class="header">
        <div class="logo">
            <a href="/">
                <img src="/img/logo.jpg" alt="">
            </a>
        </div>

        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li>
                <a href="/store">
                    Store
                    <i class="fas fa-chevron-down"></i>
                </a>
                <ul class="sub-nav">
                    <li><a href="/store/plants">Plants</a></li>
                    <li><a href="/store/cactus">Cactus</a></li>
                </ul>
            </li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/account/register">My Account</a></li>
            {{!-- <li class="cart-icon">
                <a href="">
                    <i class="fas fa-shopping-bag"></i>
                    <div class="cart-quantity">0</div>
                </a>
            </li> --}}
        </ul>
    </div>
</div>