<div class="slider-about">
    <div class="grid wide">
        <div class="row">
            <div class="slider__content">
                <div class="l-6 c-6 m-12">
                    <h2>About</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="description__about__us">
    <div class="grid wide">
        <div class="row">
            <div class="col l-4 m-4 c-12">
                <h2>We Work Hard To Provide You The Best Quality Plants And Succulents</h2>
            </div>

            <div class="col l-8 m-8 c-12">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using.</p>
            </div>
        </div>
    </div>
    <a class="btn btn-hover" href="">READ MORE</a>
</div>

<div class="our__company">
    <div class="grid wide">
        <div class="row">
            <div class="col l-6 m-6 c-12 l-o-3 m-o-3">
                <h2>Our Company</h2>
                <p>I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo, when an
                    unknown printer took a galley.</p>
            </div>
            <div class="col l-12 m-12 c-12">
                <img src="img/bg4.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="l-6 m-6 c-12">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using ‘Content here, content here’, making it look like
                    readable English. Many desktop publishing packages and web page editors</p>
            </div>
            <div class="l-6 m-6 c-12">
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in some form, by injected humour, or randomised words which don’t look even slightly
                    believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t
                    anything embarrassing hidden in the middle of text.</p>
            </div>
        </div>
    </div>
</div>

<div class="our__team">
    <div class="grid wide">
        <div class="row">
            <div class="col l-6 m-6 c-12 l-o-3 m-o-3">
                <h2>Our Team</h2>
                <p>I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo, when an
                    unknown printer took a galley.</p>
            </div>
        </div>
        <div class="row">
            <div class="col l-4 m-4 c-12">
                <img src="img/teammate-1.png" alt="">
                <h3>Jessica Gordon</h3>
                <span>Co-Founder</span>
                <div class="line"></div>
                <div class="social__network">
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-tiktok"></i></a>
                    
                </div>
            </div>

            <div class="col l-4 m-4 c-12">
                <img src="img/teammate-2.png" alt="">
                <h3>Bryan Joes</h3>
                <span>Co-Founder</span>
                <div class="line"></div>
                <div class="social__network">
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-tiktok"></i></a>
                </div>
            </div>

            <div class="col l-4 m-4 c-12">
                <img src="img/teammate-3-1.png" alt="">
                <h3>Angella Mike</h3>
                <span>Co-Founder</span>
                <div class="line"></div>
                <div class="social__network">
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-tiktok"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home__footer">
    <div class="home__footer-content">
        <h2>Interested? Shop This Plant Collection!</h2>
        <p>Neque porro quisquam est, qui dolore ipsum quia dolor sit amet, consectetur adipisci velit,
            sed quia non numquam eius modi tempora incidunt.</p>
        <a href="" class="btn btn-hover">GO TO SHOP</a>
    </div>
</div>